package logic

import (
	"arch"
	"server/internal/apisrv/internal"
	"server/internal/public/pb"
)

{{range $svc := .Services}}
{{- range .Methods}}
type {{Aa $svc.BaseName .Name}}Logic struct {
	arch.Context
	*internal.Global
}

func (l *{{Aa $svc.BaseName .Name}}Logic) {{.Name}}(req *pb.{{$svc.BaseName}}{{Aa .Name}}Request, rsp *pb.{{$svc.BaseName}}{{Aa .Name}}Response) error {
	return nil
}
{{- end}}
{{- end}}